body {
    background-color: hsl(240, 41%, 90%);
    margin: 0;
    padding: 0;
}
.main {
    margin: 0 auto;
    padding: 0;
    background-color: #ECECF7;
    max-width: 71vh;
}
img {
    margin: 0;
    padding: 0;
    width: 100%;
}
h1 {
    font-size: 150%;
    margin: .5em 0;
    padding: 0;
}
li {
    margin: .5em;
}
li a {    margin-left: 1em;
    color: black !important;
}
li img {
    width: 90%;
}

div {
    padding: .5em 2em;
}